*,
*::after,
*::before {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.home-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.home-link svg {
  height: 1.5rem;
  width: 1.5rem;
}
